@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(110deg, #13293d 60%, #1f36a0);
}

.conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 10px;
  width: 300px;
  height: 400px;
  background: #222;
  padding: 20px;
  box-shadow: 0 0 15px 0 rgba(169, 169, 169, 0.37);
  border-radius: 10px;
}

.conteudo > *{
  grid-column: 1/-1;
}

.conteudo > input[type="radio"]{
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.conteudo input[type="radio"]:checked + label{
  background-color: #252525;
  box-shadow: 0 0 5px rgb(153, 130, 238);
  color: #bbb;
}

.conteudo > label{
  grid-column: initial;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgba(95, 92, 92, 0.24);
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: .9rem;
  cursor: pointer;
  color: #eee;
}

.login,
.cadastro{
  display: block;
}

#log:checked ~ #login,
#cadastrar:checked ~ #cadastro{
  display: grid;
  gap: 10px;
}

.content{
  display: none;
}

.content input{
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  transition: all .2s;
}

.content input:focus{
  border: 1px solid #252525;
  box-shadow: 0 0 5px rgb(156, 139, 219);
  border: 1px solid #333;  
}

.login{  
  margin-top: 30px;
}

.login input{
  margin-bottom: 20px;
  color: #252525;
  font-weight: 500;
  letter-spacing: 1px;
}

.botao{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  padding: 6px 0;
  margin-bottom: 20px;
  background: linear-gradient(110deg, #1f36a0,#13293d);
}

.botao:hover{
  background: linear-gradient(110deg, #13293d, #1f36a0);
  color: #aaa;
}

.forgot{
  display: flex;
  justify-content: center;
  width: 150px;
  margin: auto;
  padding: 2px 0;
  text-decoration: none;
  color: whitesmoke;
  font-size: .6rem;
  letter-spacing: 1px;
  border: 1px solid transparent;
}

.forgot:hover{
  border: 1px dotted dodgerblue;
}

.cadastro{
  margin-top: 30px;
}

.cadastro input{
  margin-bottom: 8px;
  padding: 5px;
  color: #252525;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: .6rem;
}